
# Xcode
.DS_Store
DerivedData/
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Checkouts
Carthage/Build

# Swift Package Manager
.build/
.swiftpm/

# Package Manager's artifacts
.build/
Packages/
Package.pins
Package.resolved
.build/
.checkouts/
